/* Improved UI styles */
.mode-selector {
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%; /* Full width of parent */
    max-width: 312px; /* Maximum width to match destination cards */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.mode-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    flex: 1; /* Make buttons grow to fill available space equally */
}

.mode-button img {
    margin-right: 8px;
}

.mode-button.selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid #E06C1F;
    color: #E06C1F;
}

.mode-button.unselected {
    opacity: 0.7;
}

.mode-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mode-indicator {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #E06C1F;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.destinations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.destination-card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 12px;
    width: calc(50% - 15px);
    min-width: 200px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-color: rgba(224, 108, 31, 0.5);
}

.destination-card .origin-img {
    margin-right: 12px;
}

.destination-card .destination-img {
    margin-left: 12px;
}

.destination-info {
    flex: 1;
}

.destination-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

.destination-direction {
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
}

.baseball-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
}

.baseball-link img {
    margin: 0;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .destination-card {
        width: 100%;
    }

    .mode-button {
        padding: 8px 12px;
    }

    .mode-indicator {
        font-size: 16px;
    }
}
