html {
    background: url(/images/starryNite.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E06C1F;
}

header,
section,
article,
aside,
footer {
    display: block;
}

footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    color: white;
    font-size: 12px;
}

input#address {
    width: 20em;
    font-size: 18px;
}

#footerLeft {
    float: left;
    padding-left: 5px;
    margin-left: 5px;
    opacity: 0.2;
}

#footerLeft:hover {
    opacity: 1.0;
}

#footerRight {
    float: right;
    opacity: 0.2;
}

#footerRight:hover {
    opacity: 1.0;
}

.selected {
    opacity: 1.0;
}

.unselected {
    opacity: 0.5
}

.small {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

#links {
    float: right;
    margin: 38px;
    width: 45%;
}