html {
    color: white;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

.selected {
    opacity: 1.0;
}

.unselected {
    opacity: 0.5
}

.big {
    width: 320px;
    height: 320px;
    margin-right: 16px;
}

a:hover {
    color: #E06C1F;
}

header,
section,
article,
aside,
footer {
    display: block;
}

footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    color: white;
    font-size: 12px;
}

input#address {
    width: 20em;
    font-size: 18px;
}

#footerLeft {
    float: left;
    padding-left: 5px;
    margin-left: 5px;
    opacity: 0.2;
}

#footerLeft:hover {
    opacity: 1.0;
}

#footerRight {
    float: right;
    opacity: 0.8;
}

#footerRight:hover {
    opacity: 1.0;
}

#links {
    float: right;
    margin: 38px;
    width: 45%;
}