.arrow__animate {
  display: inline-block;
}
.arrow__animate.up {
  transform: rotate(-90deg);
}
.arrow__animate.down {
  transform: rotate(90deg);
}
.arrow__animate.upright {
  transform: rotate(-45deg) translateX(-25%); // drops arrow down and to the left
}
.arrow__animate.left {
  transform: rotate(180deg);
}
.arrow__animate svg {
  width: 100px;
  transition: 0.5s;
}
.arrow__animate svg.variant1 {
  transform: translateX(-25%);
  filter: invert(100%) sepia(0%) saturate(4929%) hue-rotate(148deg) brightness(116%) contrast(113%);
}
.arrow__animate svg rect {
  transform: scale(0.85, 1);
  transition: 0.5s;
  transform-origin: right;
}
.arrow__animate svg:hover {
  transform: translateX(15%);
}
.arrow__animate svg:hover rect {
  transform: scale(1, 1);
}

body {
  margin: 0;
  background-color: black;
}

.demo {
  display: flex;
  flex-direction: column;
}
.demo div {
  margin: 0 2em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 220px;
}

.title {
  font-family: Helvetica, sans-serif;
  width: 170px;
  color: white;
}