<!DOCTYPE html> {{if .Mobile}}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
    }

    #main {
        display: flex;
        flex: 1;
    }

    #main>article {
        flex: 1;
    }

    #main>nav,
    #main>aside {
        flex: 0 0 20vw;
        background: beige;
    }

    #main>nav {
        order: -1;
    }

    header,
    footer {
        height: 25vh;
    }

    header,
    footer,
    article,
    nav,
    aside {
        padding: 0.5em;
    }
</style>
{{end}}
<html>

<head>
    <meta charset="UTF-8" />
    <title>OffWorld {{if .Mobile}}Mobile{{end}}</title>

    <!-- Favicon crap -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3eKo6zvPQw">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3eKo6zvPQw">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3eKo6zvPQw">
    <link rel="manifest" href="/manifest.json?v=3eKo6zvPQw">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3eKo6zvPQw" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=3eKo6zvPQw">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous"></script>
    {{if not .Mobile}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.34.0/js/jquery.terminal.min.js"
        integrity="sha512-lfkU/Qku0yOVZEYANlw2mOv7fpHFdS1E62UT7vJ55k22OB+xgRNNa6Cdor4Lugl4jhDjX29lJAG12X/OHFe8JQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{end}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
        integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/offworld{{if .Mobile}}Mobile{{end}}.css" rel="stylesheet" />
    <link href="/css/bahn-travel.css" rel="stylesheet" /> {{if not .Mobile}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.34.0/css/jquery.terminal.min.css"
        integrity="sha512-/8db3dfA8dw99rERsNxL/lgTXVpDuQfM2gybCmMXRBo0cK/cE/0pVASbrc8rvX6fF5VjnQYdkvn+qGDxzUyBHQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/jquery.terminal.css" rel="stylesheet" /> {{end}}
</head>

<body>
    <section>
        {{if not .Mobile}}
        <div id="term1"></div>
        {{end}}
        <div {{if not .Mobile}}id="links" {{end}}>
            <!-- Mode selector tabs -->
            <div class="mode-selector">
                <a href="javascript:setDestination('home');" class="mode-button selected" id="home-button">
                    <img id="home" class="{{if .Mobile}}big{{else}}small{{end}} selected" src="/images/house.png"
                        alt="Coming home" title="Coming home">
                    <span>Go Home</span>
                </a>
                <a href="javascript:setDestination('away');" class="mode-button unselected" id="away-button">
                    <img id="away" class="{{if .Mobile}}big{{else}}small{{end}} unselected" src="/images/work.png"
                        alt="Gonna work" title="Gonna work">
                    <span>Go Work</span>
                </a>

                <!-- Baseball link -->
                <a href="/bb" class="baseball-link">
                    <img class="{{if .Mobile}}big{{else}}small{{end}}" src="/images/baseballSmall.png" alt="MLB"
                        title="Condensed MLB games">
                </a>
            </div>


            <!-- Destinations -->
            <div class="destinations-container">
                <a id="au-freising" class="destination-card"
                    href="javascript:mvvRoute('Freising', 'Hopfenhalle,%20Au%20i.d.%20Hallertau');" alt="Freising -> Au"
                    title="Freising -> Au">
                    <img class="{{if .Mobile}}big{{else}}small{{end}} origin-img" src="/images/freising.png">
                    <div class="destination-info">
                        <div class="destination-title">Au i.d. Hallertau</div>
                        <div class="destination-direction" id="au-freising-direction">Freising → Au</div>
                    </div>
                    <img class="{{if .Mobile}}big{{else}}small{{end}} destination-img" src="/images/au.png">
                </a>
                <a id="au-munich" class="destination-card"
                    href="javascript:mvvRoute('M&uuml;nchen%20Hbf', 'Hopfenhalle,%20Au%20i.d.%20Hallertau');"
                    alt="Munich -> Au" title="Munich -> Au">
                    <img class="{{if .Mobile}}big{{else}}small{{end}} origin-img" src="/images/munich.png">
                    <div class="destination-info">
                        <div class="destination-title">Au i.d. Hallertau</div>
                        <div class="destination-direction" id="au-munich-direction">Munich → Au</div>
                    </div>
                    <img class="{{if .Mobile}}big{{else}}small{{end}} destination-img" src="/images/au.png">
                </a>

                <a id="freising-munich" class="destination-card"
                    href="javascript:mvvRoute('M&uuml;nchen%20Hbf', 'Freising');" alt="Freising -> Munich"
                    title="Freising -> Munich">
                    <img class="{{if .Mobile}}big{{else}}small{{end}} origin-img" src="/images/munich.png">
                    <div class="destination-info">
                        <div class="destination-title">Freising</div>
                        <div class="destination-direction" id="freising-munich-direction">Munich → Freising</div>
                    </div>
                    <img class="{{if .Mobile}}big{{else}}small{{end}} destination-img" src="/images/freising.png">
                </a>

                <a id="rohrbach-munich" class="destination-card"
                    href="javascript:mvvRoute('M&uuml;nchen%20Hbf', 'Rohrbach(Ilm)');" alt="Munich -> Rohrbach"
                    title="Munich -> Rohrbach">
                    <img class="{{if .Mobile}}big{{else}}small{{end}} origin-img" src="/images/munich.png">
                    <div class="destination-info">
                        <div class="destination-title">Rohrbach (Ilm)</div>
                        <div class="destination-direction" id="rohrbach-munich-direction">Munich → Rohrbach</div>
                    </div>
                    <img class="{{if .Mobile}}big{{else}}small{{end}} destination-img" src="/images/rohrbach(ilm).png">
                </a>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer{{if .Mobile}}Right{{else}}Left{{end}}">
            <a href="https://gitlab.com/danackerson">Dan Ackerson</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="impressum.html">Impressum</a>
        </div>
        {{if not .Mobile}}
        <div id="footerRight">
            Background: <a href="https://alexruizart.deviantart.com/art/Starry-Night-215823393">"Starry Night" by Alex
                Ruiz</a>
        </div>
        {{end}}
    </footer>

    <script src="js/offworld.js"></script>
</body>

</html>